<div class="navbar navbar-default" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/">Sendgrid</a>
		</div>
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav navbar-right">
				<% if user_signed_in? %>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_user.name %><b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><%= link_to 'Edit Profile', edit_user_registration_path %></li>
						    <li><%= link_to 'Log Out', destroy_user_session_path, method: :delete %></li>
						</ul>
					</li>					
				<% else %>
				    <li><%= link_to 'Sign Up', new_user_registration_path %></li>
				    <li><%= link_to 'Log In', new_user_session_path %></li>
				<% end %>
			</ul>
		</div>
	</div>  		
</div>
